In [9]:
3 - 2

ERROR: Error in eval(expr, envir, enclos): object 'R' not found

In [2]:
4^2

[1] 16

In [3]:
sin(4)

[1] -0.7568025

In [4]:
4 == 4

[1] TRUE

In [6]:
(4 ==4 ) && (3 > 12)

[1] FALSE

&&: and

# variable assignment

In [10]:
a <- 3 + 3

In [11]:
print(a)

[1] 6

In [14]:
greetings <- "hello, world!"

In [15]:
print(greetings)

[1] "hello, world!"

In [16]:
some_logic <- TRUE

#some_logic: variable name.

#The Vector

In [20]:
dat <- c(4,5,6,23,2)

In [21]:
print(dat)

[1]  4  5  6 23  2

In [22]:
v1 <- c(1,2,3)
v2 <- c(5,4,3)
v <- c(v1,v2)

In [24]:
print (v)

[1] 1 2 3 5 4 3

In [25]:
my_vec <- rep(0,10)

In [26]:
print(my_vec)

 [1] 0 0 0 0 0 0 0 0 0 0

In [35]:
m <- 1:20

print (m)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [40]:
v3 <- seq(-10, 10, 2)

In [41]:
print (v3)

 [1] -10  -8  -6  -4  -2   0   2   4   6   8  10

In [42]:
v3

 [1] -10  -8  -6  -4  -2   0   2   4   6   8  10

In [47]:
u <- seq(-2,2,1)

In [48]:
print (u)

[1] -2 -1  0  1  2

In [53]:
u2 <- c(-2:2)
print (u2)

[1] -2 -1  0  1  2

In [54]:
u1 <- -2:2
print (u1)

[1] -2 -1  0  1  2